h1 {
  margin: 0;
}

header, footer {
  padding: 20px 20px;
}


button {
  border: none;
  background: none;
}

.box {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  background-color: #f6ebe3;
  padding: 5px 10px;
  border-radius: 30px;
  color: #f4ece3;
}

.screen {
  height: 300px;
  display: flex;
  justify-content: flex-end;
  padding: 0 20px;
  align-items: center;
  background-color: #7c7875;
  border-radius: 30px 30px 0px 0px;
  color: white;
}

.keyboard {
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: #f6ebe3;
}

.controlls-container {
  display: flex;
}

.controll {
  text-align: center;
  font-size: 1.5rem;
  padding: 30px;
  flex: 1;
  color: white;
}

.one {
  background: #d2666f;
}
.two {
  background: #a66f72;
}
.tree {
  background: #b8b2ab;
}

.values-container {
  display: flex;
  border-radius: 0px 0px 30px 30px;
  border-radius: 0px 0px 30px 30px;
  overflow: hidden;
  color: #878280;
}

.values {
  display: flex;
  flex-wrap: wrap;
  max-width: 67%;
}

.calc-controlls-container {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  background-color: #7c7875;
}

.calc-item {
  font-size: 2rem;
  padding: 20px;
  flex: 1;
  color: white;
}

.val-item {
  font-size: 2rem;
  padding: 30px;
  flex: 1;
}

.active {
  cursor: pointer;
}

footer {
  text-align: right;
}

.error {
  box-shadow: 0px 0px 5px 0px red;
}

.right {
  box-shadow: 0px 0px 5px 0px green;
}