:root {
  --whiteColor: white;
  --boxBackgroundColor: #f6ebe3;
  --resetBackground: #d2666f;
  --backSpaceBackground: #a66f72;
  --calcBackground: #b8b2ab;

  /* :active colors */
  --activeResetBackground: #eb737d;
  --activeBackSpaceBackground: #c78689;
  --activeCalcBackground: #a39d96;
}

.box {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  background-color: var(--boxBackgroundColor);
  border-radius: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border: 1px solid #dedede;
  padding: 10px 10px 30px;
}

.keyboard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--boxBackgroundColor);
}

.controls-container {
  display: flex;
}

.control {
  text-align: center;
  font-size: 1.5rem;
  padding: 30px;
  flex: 1 0 33.33%;
  color: var(--whiteColor);
}

.control:focus {
  outline: 1px dotted;
}

.control:nth-child(1) {
  background: var(--resetBackground);
}

.control:nth-child(2) {
  background: var(--backSpaceBackground);
}

.control:nth-child(3) {
  background: var(--calcBackground);
}

.control:nth-child(1):active {
  background: var(--activeResetBackground);
}

.control:nth-child(2):active {
  background: var(--activeBackSpaceBackground);
}

.control:nth-child(3):active {
  background: var(--activeCalcBackground);
}

.control:nth-child(3)[disabled]:active {
  background: var(--calcBackground);
}

.values-container {
  display: flex;
  border-radius: 0px 0px 30px 30px;
  border-radius: 0px 0px 30px 30px;
  overflow: hidden;
  color: #878280;
}

.values {
  display: flex;
  flex-wrap: wrap;
  max-width: 66.66%;
}

.calc-controls-container {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.calc-item {
  font-size: 2rem;
  padding: 20px;
  flex: 1;
  color: var(--whiteColor);
  background-color: #7c7875;
}

.calc-item:nth-child(1),
.calc-item:nth-child(2) {
  font-size: 1.2rem;
  color: rgb(179, 179, 179);
}

.calc-item:focus {
  outline: none;
}

.calc-item:active {
  background-color: #938d87;
}

.calc-item[disabled]:active {
  background-color: #7c7875;
}

.val-item {
  font-size: 2rem;
  padding: 30px;
  flex: 1;
}

.val-item:focus {
  outline: 1px dotted;
}

.val-item:active {
  background: #e4deda;
}

.val-item[disabled]:active {
  background-color: initial;
}

/* backspace icon */
.icon-button {
  padding: 0px 10px;
}

.icon-button img {
  display: block;
  width: 30px;
  padding: 30px 40px;
  margin: 0;
}
